<b style ="font-family: 'Ubuntu', cursive; font-size:17px;float:right"><%= link_to 'Make New Event', new_event_path %></b>
<% @events.each do |event| %>
<div class="row">
  <div class="span4">
    <h5><%= link_to event.name, event %></h5>
     <b><%= event.agenda %><br>
     <%= event.address %></b>
  <hr></div>
</div><br>
<% end %>
