<footer class="footer">
  <small>
    Mumbai-On-Rails</a>
    by <a href="https://github.com/sudhirsb2003"> Sudhir R vishwakarma
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
